.header {
  width: 100%;
  z-index: 99;
  position: fixed !important;
}
.fixed {
  position: fixed !important;
  background-color: rgba(255, 255, 255, 0.74);
}
.background {
  background-color: #fff !important;
}
.container {
}
.content {
}
.contentLogo {
}
.nav {
}
